# Compiled class files
*.class

# Logs
*.log

# BlueJ files
*.ctxt

# Package files
*.jar
*.war
*.ear

# JVM crash logs
hs_err_pid*

# IDE files
.vscode/
.idea/
*.iml

# Eclipse files
.project
.classpath
.settings/

# NetBeans files
nbproject/private/
build/
dist/
nbbuild/
nbdist/
.nb-gradle/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Java build folders
bin/
out/
target/

# Maven
target/

# Gradle
.gradle/
build/

# Environment files
.env